.exibicao {
    display: grid;
    grid-template-areas: "cercado cercado"
        "inicio fim"
        "animais animais";
    padding: 0.5em;
    box-shadow: 0.1em 0.2em 0.2em;
}

.inicio {
    color: darkgreen;
    grid-area: inicio;
}

.fim {
    color: darkred;
    grid-area: fim;
}

.local {
    font-size: bold;
    grid-area: cercado;
    justify-content: center;
    display: flex;
}

.animais {
    display: grid;
    grid-area: animais;
    gap: 0.3em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}